APP_ENV=production
APP_URL=https://api.sigroup.com.bd

DB_HOST=localhost
DB_NAME=u494078466_sigroup
DB_USER=u494078466_sigroup
DB_PASS=your_db_password_here

JWT_SECRET=change-this-to-a-random-secret-string

SSLCZ_STORE_ID=your_sslcommerz_store_id
SSLCZ_STORE_PASS=your_sslcommerz_store_password
SSLCZ_IS_LIVE=true
